html {
height: 100% ;
}
body {
height: 100%; margin: 0px; padding: 0px ;
}
#map{
height: 100% ;
}


/* .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
    }
    
    .modal-content{
    background-color: white;
    width: 500px;
    margin: 40% auto;
} */